.book-list{
  float:left;
  width:30%;
  ul {
    margin:0 0 60px 0;
    padding:0;
    li {
      color: #ffffff;
      list-style: none;
      margin:20px;
      border:1px solid powderblue;
      padding:20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
